@model _258_A2_Tom_Milne.Models.ProjectViewModel

@{
    ViewData["Title"] = "Project Details";
    Layout = "_LayoutUser";
    var projectId = Model.ProjectId;

}

<head>
    <link rel="stylesheet" href="~/css/ProjectDetailsStyle.css" />
</head>

<input class="form-control editable-field" id="projectTitle_@Model.Project.Id" readonly="readonly" value="@Model.Project.Title" />
<p>@Model.Project.Description</p>
<input type="date" class="form-control editable-field" id="projectDate_@Model.Project.Id" readonly="readonly" value="@Model.Project.Date.ToString("yyyy-MM-dd")" />

<h5>Project Tasks</h5>
<div>
    @foreach (var task in Model.ProjectTasks)
    {
        <div class="card" style="margin-bottom: 10px">
            <div class="card-body">
                <div class="row" style="border-bottom: 1px solid #ccc;">
                    <div class="col-md-6">
                        <input class="form-control editable-field" id="taskTitle_@task.Id" readonly="readonly" value="@task.Title" />
                    </div>
                    <div class="col-md-6">
                        <input type="date" class="form-control editable-field" id="taskDate_@task.Id" readonly="readonly" value="@task.Date.ToString("yyyy-MM-dd")" />
                    </div>
                </div>
                <div class="col-md-12">
                    <h6>Description:</h6>
                    <textarea class="form-control editable-field" id="taskDescription_@task.Id" readonly="readonly">@task.Description</textarea>
                    <button class="btn btn-primary" id="editButton" task-id="@task.Id">Edit</button>
                </div>

            </div>
        </div>
    }
</div>

<button id="toggleForm" class="btn btn-primary">Add Project Task</button>

@Html.Partial("_CreateTaskForm", new _258_A2_Tom_Milne.Models.ProjectTask { ProjectId = projectId })

<script>document.getElementById("toggleForm").addEventListener("click", function () {
        const form = document.getElementById("projectTaskForm");
        if (form.style.display === "none" || form.style.display === "") {
            form.style.display = "block";
        } else {
            form.style.display = "none";
        }
    });</script>


<script>const editButton = document.getElementById('editButton');
    const editFields = document.querySelectorAll('.editable-field');

    function toggleEditableFields() {
        editFields.forEach(field => {
            field.readOnly = !field.readOnly;
        });

        editButton.textContent = editFields[0].readOnly ? 'Edit Fields' : 'Save Changes';
    }

    editButton.addEventListener('click', () => {
        toggleEditableFields();
    });</script>

