@model SearchViewModel
@{
    ViewData["Title"] = "Search Results";
    Layout = "_LayoutUser";

}
<head>
    <link rel="stylesheet" href="~/css/UserHomeStyle.css" />
</head>
<h1>Search Results for "@Model.SearchTerm"</h1>


<!--I used a simple viewmodel for displaying search results. Conditionaly displays results based on a filter term
    which comes from a select element in the layout-->
@if (Model.filterTerm == "Projects" || Model.filterTerm == "All")
{
    <h2>Projects</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Finish Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var project in Model.Projects)
            {
                <tr>
                    <td><a asp-action="ProjectDetails" asp-controller="UserHome" asp-route-projectId="@project.Id">@project.Title</a></td>
                    <td>@project.Description</td>
                    <td>@project.DateEnd</td>
                    <td>@project.Id</td>
                </tr>
            }
        </tbody>
    </table>
}

@if (Model.filterTerm == "Project Tasks" || Model.filterTerm == "All")
{
    <h2>Tasks</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Finish Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in Model.Tasks)
            {
                <tr>
                    <td>@task.Title</td>
                    <td>@task.Description</td>
                    <td>@task.Date</td>
                    <td>@task.Id</td>

                </tr>
            }
        </tbody>
    </table>
}


